In [1]:
## reload submodule
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

import qkit as qkit

In [6]:
data = pd.read_csv("./data/_^spx.csv", index_col=0, parse_dates=[0], sep=",")
data

,open,high,low,close,volume,signal
date,,,,,,
2023-01-03,3853.290039,3878.459961,3794.330078,3824.139893,3959140000,1
2023-01-04,3840.360107,3873.159912,3815.770020,3852.969971,4414080000,1
2023-01-05,3839.739990,3839.739990,3802.419922,3808.100098,3893450000,1
2023-01-06,3823.370117,3906.189941,3809.560059,3895.080078,3923560000,1
2023-01-09,3910.820068,3950.570068,3890.419922,3892.090088,4311770000,1
...,...,...,...,...,...,...
2025-04-01,5597.529785,5650.569824,5558.520020,5633.069824,4434500000,-1
2025-04-02,5580.759766,5695.310059,5571.479980,5670.970215,4243830000,-1
2025-04-03,5492.740234,5499.529785,5390.830078,5396.520020,7210470000,-1
2025-04-04,5292.140137,5292.140137,5069.899902,5074.080078,8853500000,-1
2025-04-07,4953.790039,5246.569824,4835.040039,5062.250000,8691980000,-1

In [4]:
bt = qkit.Backtester(dataset=data)

for trading in bt.run():
    current_bar = trading.data.iloc[-1]
    previous_bar = trading.data.iloc[-2]

    current_signal = current_bar["signal"]
    previous_signal = previous_bar["signal"]
    changed = current_signal != previous_signal

    if changed:
        if current_signal == 1:
            trading.buy()
        elif current_signal == -1:
            trading.sell()
        else:
            trading.close()

sell 4179.759765625
buy 3861.590087890625
sell 4588.9599609375
buy 4117.3701171875
sell 5254.35009765625
buy 4967.22998046875
sell 5667.2001953125
buy 5186.330078125
sell 5648.39990234375
buy 5408.419921875
sell 6090.27001953125
buy 5827.0400390625
sell 6144.14990234375
buy 5521.52001953125
sell 5776.64990234375